:root {
  font-size: 1rem;
  font-family: "Courier New", Courier, monospace;
}

// Tutorial von Kevin Powell mit Grid: https://www.youtube.com/watch?v=3yfswsnD2sw

// 1. Horizontales Scrolling von individuellen Elementen innerhalb eines horizontal ausgerichteten Media Scrollers:

div.scroll-wrapper {
  // ich kann mir hier eine Variable für Zwischenraum festlegen:
  // mit Unterstrich kann man CSS sagen, dass es so eine Art freie Variable ist, die nichts mit dem :root zu tun hat
  --_spacer: 1rem;

  display: grid;
  // damit Inhalte sich wie Spalten verhalten (similar to display flex)
  grid-auto-flow: column;
  //  clue mit grid im Vergleich zu flexbox: Alle auto-columns bekommen eine Größe (nicht wie template columns, wo man alle columns einzeln definieren muss!); sinnvoll, wenn man auch noch nicht weiß, wie viele Inhalte die jeweiligen children haben und bei template columns müsste man dann alle Größen nochmal einzeln anpassen; Welcher Wert ist sinnvoll? => keine geraden Teiler von 100, 23% statt 25% beispielsweise, weil der ganze viewport sonst automatisch so aufgeteilt wird, dass alle Platz haben und wir wollen in dem Fall ja overflow erzeugen!
  //   grid-auto-columns: 26%;
  gap: var(--_spacer);

  // Scrolling auf wrapper anwenden, damit nicht ganze Seite scrollt
  overflow-x: auto;
  // left to right ist inline, daher inline;
  overscroll-behavior-inline: contain;

  // versteckt scrollleiste unten
  // &::-webkit-scrollbar {
  //   display: none;
  // }
}

div.scroll-box {
  display: grid;
  // grid-template-rows: min-content;
  gap: var(--_spacer);
  //   height: 200px;
  background-color: rgb(221, 221, 248);
  //   border: 1px solid;
  border-radius: 5px;
  padding: var(--_spacer);
}

div.content {
  //   display: inline;
  background-color: palegoldenrod;
  //   border: 1px solid;
  width: 100%;
  //   width hier zb bei img inhalt sehr wichtig, damit img immer die ganze box (parent) einnehmen kann und alle bilder gleich groß sind
}

// Scroll Snapper (Achtung: kann etwas unterschiedlich wirken, je nach Browser)
// 1. Schritt: auf das Elternelement folgendes anwenden:
.snapper {
  //inline  muss als erstes da stehen, "order matters"!
  // inline, weil wir hier mit inline elementen arbeiten
  scroll-snap-type: inline mandatory;
  //   bisher passiert noch nichts, weil momentan noch nicht klar, wo genau gesnappt werden soll
  //   3. Schritt: (mit Fallback 1rem)
  //   https://developer.mozilla.org/en-US/docs/Web/CSS/scroll-padding-inline
  //   scroll-padding-inline: var(--_spacer, 1rem);
}

// 2. Schritt: alle direkten children des Elterncontainers ansprechen:
.snapper > * {
  scroll-snap-align: start;
}

// 2. GROUP ELEMENTS

.group-scroller {
  //   border: 2px solid hotpink;
  //   damit eine gruppe die gesamte vp breite einnimmt:
  grid-auto-columns: 90%;
}

.group-content {
  //   border: 2px solid limegreen;
  //   damit content innerhalb der Gruppe auch horizontal angeordnet wird
  display: grid;
  grid-auto-flow: column;
  gap: var(--_spacer);
}

// ////////////////////////////////////////////////////////////////////

// Double transform technique by Red Stapler

.slide {
  width: 100vw;
  height: 100vh;
}

.inner-wrapper {
  display: flex;
  flex-direction: row;
  width: 400vw;
  //   width muss gleich der totalen Breite des Contents sein (vier divs mit jeweils 100vw = 400vw)
  //   nachdem alle anderen Schritte gemacht wurden, lassen wir den inneren wrapper final in die dem äußeren wrapper entgegengesetzte Richtung rotieren:
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
  //   wir ergänzen zum Schluss noch translateX, um die Wrapper wieder sichtbar zu machen, da sie durch das Rotieren zunächst verschwinden
}

.one {
  background-color: aqua;
}

.two {
  background-color: rgb(226, 95, 226);
}

.three {
  background-color: rgb(233, 235, 117);
}

.four {
  background-color: rgb(224, 123, 83);
}

.outer-wrapper {
  width: 100vh;
  height: 100vw;
  //   Trick! Man muss vw und vh genau umgekehrt zu width und height vergeben, da wir den outer wrapper im nächsten Schritt um 90deg drehen
  transform: rotate(-90deg) translateX(-100vh);
  transform-origin: top left;
  //   wir ergänzen zum Schluss noch translateX, um die Wrapper wieder sichtbar zu machen, da sie durch das Rotieren zunächst verschwinden
  //   Der y Scrollbalken wird durch "scroll" eingestellt und fungiert dann beim gedrehten outer wrapper als unser scrollbalken
  overflow-y: scroll;
  //   wir verstecken den Scrollbalken auf der x-Achse, da dieser horizontal läuft und durch das Rotieren aber keinen Sinn mehr ergeben wird
  overflow-x: hidden;
  position: absolute;
}

// Scrollbar verstecken
::-webkit-scrollbar {
  display: none;
}
